{% extends "base_boards.html" %}

{% block content %}
{% load staticfiles%}
{% load widget_tweaks %}

<div class="container">
    <!--토픽 내용 본문-->
    {% include 'includes/board_content_include.html'%}

    <!--댓글 작성 폼 내용본문-->
    {% include 'includes/board_reply_form_include.html'%}

    <!--포스트 리스트 내용-->
    {% if topic.post.count > 0%}
    <div class="me_title2">
        댓글
    </div>
    {% endif %}

    {% if topic.post.count > 0%}
    {%for post in post_list %}
    {% include 'includes/board_reply_include.html'%}
    {% endfor %}
    {%endif%}

    <!--function view 페이지네이션 내용-->
    {% include 'includes/pagenation_function.html'%}


</div>

{% endblock content %}