{% extends "base_boards.html" %}

{% block content %}
{% load staticfiles%}
{% load widget_tweaks %}

<div class="container">
    <!--토픽 내용 본문-->
    {% include 'includes/board_content_include.html'%}

    {% if topic.post.count > 0%}
    <div class="me_title2">
        댓글
    </div>
    {% endif %}

    {% if topic.post.count > 0%}
    {%for post in post_list %}
    {% include 'includes/board_reply_include.html'%}
    {% if post.pk == post_pk %}
    <div class="panel panel-success">
        <div class="panel-body" id="{{post.order}}">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.media }}
                {{form.as_p}}
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <button type="submit" class="btn btn-success btn-block">댓글달기</button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {%endif%}

    <!--function view 페이지네이션 내용-->
    {% include 'includes/pagenation_function.html'%}

</div>

{% endblock content %}