{% extends "accounts/index.html" %}

{% block accounts %}
{% load staticfiles%}
<div class="row">
    <div class="me_title2"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 나의 관심 강좌</div>
    <div class="row">

        {% if lecture_list.count > 0 %}
        {% for lecture in lecture_list %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{lecture.image.first.thumbnail.url}}" alt="...">
                <div class="caption">
                    <h4>{{ lecture.title|truncatechars:22 }}</h4>
                    <p>{{ lecture.description|truncatechars:40 }}</p>
                    <div align="center"><span>
                            <a href="{% url 'products:content_information' content_slug=lecture.slug %}" class="btn btn-primary"
                               role="button">수강하기</a>
                        </span>
                        <span>
                            <a href="{% url 'products:content_information_favorite_sub' content_slug=lecture.slug %}" class="btn btn-warning"
                               role="button">관심해제</a>
                        </span></div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}

        <div class="col-md-12 col-sm-12" align="center">
            <div class="well well-lg" align="center"
                 style="max-width:600px;height:100px;text-align:center;margin-left:-8px;">
                수강중인 강의가 없습니다.
            </div>
        </div>
        {%endif%}
    </div>
</div>


<div class="row">
    <div class="me_title2"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 나의 관심 상품</div>
    <div class="row">
        {% if product_list.count > 0 %}
        {% for product in product_list %}
        <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
                <img src="{{product.image.first.thumbnail.url}}" alt="...">
                <div class="caption">
                    <h4>{{ product.title|truncatechars:22 }}</h4>
                    <p>{{ product.description|truncatechars:40 }}</p>
                    <p align="center"><span>
                            <a href="{% url 'products:content_information' content_slug=product.slug %}" class="btn btn-primary"
                               role="button">상세보기</a>
                        </span>
                        <span>
                            <a href="{% url 'products:content_information_favorite_sub' content_slug=product.slug %}" class="btn btn-warning"
                               role="button">관심해제</a>
                        </span></p>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="col-md-12 col-sm-12" align="center">
            <div class="well well-lg" align="center"
                 style="max-width:600px;height:100px;text-align:center;margin-left:-8px;">
                현재 관심 상품이 없습니다.
            </div>
        </div>
        {%endif%}
    </div>

</div>

{% endblock accounts %}