{% extends "accounts/index.html" %}

{% block accounts %}
{% load staticfiles%}
<div class="container">
    <div class="col-md-10 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>현재 수강 중인 강좌</h3>
            </div>

            <div class="panel-body">

                <div class="row">
                    {% if user_profile.favorite_lecture.all.count > 0 %}
                    {% for lecture in user_profile.favorite_lecture.all %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="{{lecture.thumbnail.url}}" alt="...">
                            <div class="caption">
                                <h4>{{ lecture.title|truncatechars:23 }}</h4>
                                <p>{{ lecture.description|truncatechars:55 }}</p>
                                <p align="center">
                                    <a href="{% url 'lectures:lecture_detail' lecture.id%}" class="btn btn-primary"
                                       role="button">수강하기</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-12" align="center">
                        <div class="well well-lg" align="center" style="max-width:600px;height:100px;text-align:center;margin-left:-8px;">
                            수강중인 강의가 없습니다.
                        </div>
                    </div>
                    {%endif%}

                </div>
             
            </div>
        </div>
    </div>
</div>
{% endblock accounts %}