{% extends "accounts/index.html" %}

{% block accounts %}
{% load staticfiles%}
{% load humanize %}
<style>
  th {
    text-align: center;
  }
  table{
    margin-left: auto;
    margin-right: auto;

  }





</style>
<div class="row">
    <div class="me_title2 col-md-12 co-xs-12"><a href="{%url 'accounts:order_status'%}">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 주문 내역</a>
        <br>
    </div>

    <div class="panel panel-primary">
        <table class="table table-condensed">
            <thead class="thead-inverse">
            <tr>
                <th class="col-md-4 col-xs-4">주문일자/결제번호/결제금액</th>
                <th class="col-md-4 col-xs-4">주문내용</th>
                <th class="col-md-2 col-xs-2">주문금액</th>
                <th class="col-md-2 col-xs-2">결제·배송·구매상태</th>
            </tr>
            </thead>
            <tbody>
            {% for order, payment in data %}
                <tr>
                    <td rowspan="{{order.orderitem.count|add:2}}">
                        {% if order.updated|date:'d m y h:i:s' == order.created|date:'d m y h:i:s' %}
                        <p>{{order.created}}</p>
                        {% else %}
                        <p>{{order.updated}}</p>
                        {% endif %}
                        <p>주문번호 : {{ order.order_no }}</p>
                        <p>결제금액 : ￦{{ payment.amount|intcomma }}원</p>
                            {% if order.delivery_fee == '001'%}
                                <p>(배송비 : 2,500원 포함)</p>
                            {% elif order.delivery_fee == '002' %}
                                <p>(배송비 : 5,000원 포함)</p>
                            {% else %}
                                <p>(배송비 : 0원 포함)</p>
                            {% endif %}

                        <a href="{{payment.receipt_url}}" target="_blank" type="button" class="btn btn-success">구매영수증 출력</a>
                        <br>
                        <br>
                    </td>
                    {% for item in order.orderitem.all %}
                    {% if forloop.first %}
                        <td >
                           <span><img src="{{ item.content.image.first.thumbnail.url }}"
                                       style="width:auto;height:60px;"></span>
                            <a href="{{item.content.get_absolute_url}}"> {{ item.content }}</a>
                        </td>
                        <td>
                            <br>{{item.get_cost|intcomma}}원
                            <br><small>({{ item.cost|intcomma }}원 X {{item.quantity}}개)</small>
                        </td>
                            {% if forloop.first %}
                            <td >
                                <p>결제 :
                                    {% if payment.status == 'paid' %}
                                        결제완료</p>
                                    {% else %}
                                        미결제</p>
                                    {% endif %}
                                <p>배송 : {{order.get_delivery_display}}</p>
                                <p>구매 : {{order.get_confirm_display}}</p>
                            </td>
                            {% else%}

                            {% endif%}
                    </tr>
                    {% else %}
                        <tr>
                            <td >
                               <span><img src="{{ item.content.image.first.thumbnail.url }}"
                                           style="width:auto;height:60px;"></span>
                                <a href="{{item.content.get_absolute_url}}"> {{ item.content }}</a>
                            </td>
                            <td>
                                <br>{{item.get_cost|intcomma}}원
                                <br><small>({{ item.cost|intcomma }}원 X {{item.quantity}}개)</small>
                            </td>
                            {% if forloop.first %}
                            <td rowspan='{{order.orderitem.count}}'>
                                <p>결제 :{{payment}}
                                {% if order.paid %}
                                    결제완료</p>
                                {% else %}
                                    미결제</p>
                                {% endif %}
                                <p>배송 : {{order.get_delivery_display}}</p>
                                <p>구매 : {{order.get_confirm_display}}</p>
                            </td>
                            {% else%}

                            {% endif%}
                        </tr>
                     {% endif %}
                    {% endfor %}
                <tr>
                    <td colspan="3">
                        {% if payment.pay_method == 'card' %}
                            <p>결제방법 : 카드결제({{payment.apply_num}})</p>
                        {% elif payment.pay_method == 'trans' %}
                            <p>결제방법 : 계좌이체 </p>
                        {% elif payment.pay_method == 'vbank' %}
                            <p>결제방법 : 가상계좌 </p>
                            <p>은행 : {{payment.vbank_name}} /
                            계좌번호 : {{payment.vbank_num}} /
                            예금주 :{{payment.vbank_holder}}</p>
                            <p>기한 : {{payment.vbank_date}}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                            <button type="button" class="btn btn-danger">반품신청</button>
                            <button type="button" class="btn btn-warning">교환신청</button>
                            <button type="button" class="btn btn-info">구매결정</button>
                    </td>
                </tr>



            {% endfor %}
                <tr>
                    <!--테이블 마무리를 위한 tr 설정-->
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>


    </div>
</div>
{% endblock accounts %}