{% extends "accounts/index.html" %}

{% load staticfiles%}
{% load humanize %}
{% block accounts %}

<style>
  th {
    text-align: center;
  }
  table{
    margin-left: auto;
    margin-right: auto;

  }
</style>
<div class="row">

    <div class="me_title2 col-md-12 co-xs-12"><a href="{%url 'accounts:order_status'%}">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 주문 내역</a>
        <br>
    </div>

    <div class="panel panel-primary">
        <table class="table table-condensed">
            <thead class="thead-inverse">
            <tr >
                <th class="col-md-4 col-xs-4">주문일자/결제번호/결제금액</th>
                <th class="col-md-4 col-xs-4">주문내용</th>
                <th class="col-md-2 col-xs-2">주문금액</th>
                <th class="col-md-2 col-xs-2">결제·배송·구매상태</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
            <tr class="tr" id="order_{{forloop.counter}}">
            <td style="border:1px;">
                <tr>
                    <td rowspan="{{order.orderItem.count|add:2}}">
                        <p>{{order.created}}</p>
                        <p>주문번호 : {{ order.merchant_uid }}</p>
                        <p class="totalCost{{order.merchant_uid}}" id="{{order.importInfo.amount}}">결제금액 : ￦{{ order.importInfo.amount|intcomma }}원</p>
                            {% if order.orderDelivery.delivery_fee == '001'%}
                                <p>(배송비 : 2,500원 포함)</p>
                            {% elif order.orderDelivery.delivery_fee == '002' %}
                                <p>(배송비 : 5,000원 포함)</p>
                            {% else %}
                                <p>(배송비 : 0원 포함)</p>
                            {% endif %}
                        {% if order.importInfo.status == 'paid' %}
                            {% if order.confirm == '002'%}
                            <a href="{{order.importInfo.receipt_url}}" target="_blank" type="button" name="payment_receipt" id="payment_receipt_{{ order.merchant_uid }}" value="{{ order.merchant_uid }}" class="btn btn-success btn_receipt" >영수증 출력</a>
                            {% if order.importInfo.pay_method == 'vbank' or order.importInfo.pay_method == 'trans' %}
                            </br></br><small style="color:red;">계좌이체 이용고객께서는 영수증 발급시,</br> 메일로 문의 주시기 바랍니다.</small>
                            {% endif%}
                            {% else %}
                            <a href="{{order.importInfo.receipt_url}}" target="_blank" type="button" name="payment_receipt" id="payment_receipt_{{ order.merchant_uid }}" value="{{ order.merchant_uid }}" class="btn btn-success btn_receipt disabled">영수증 출력</a>
                            {% endif %}


                        {% elif order.importInfo.status == 'cancelled' %}
                            <a href="{{order.importInfo.cancel_receipt_urls}}" target="_blank" type="button" name="payment_receipt" id="payment_receipt_{{ order.merchant_uid }}" value="{{ order.merchant_uid }}" class="btn btn-success btn_receipt">영수증 출력</a>
                        {% else %}
                            <button type="button" name="payment_receipt" id="payment_receipt" value="{{ order.merchant_uid }}" class="btn btn-success disabled">영수증 출력</button>
                        {% endif %}
                        <br>
                        <br>
                    </td>
                    {% for item in order.orderItem.all %}
                    {% if forloop.first %}
                        <td style="text-align:left;">
                           <span><img src="{{ item.content.image.first.thumbnail.url }}"
                                       style="width:auto;height:60px;"></span>
                            <a href="{{item.content.get_absolute_url}}"> {{ item.content }}</a>
                        </td>
                        <td>
                            <br>{{item.get_cost|intcomma}}원
                            <br><small>({{ item.cost|intcomma }}원 X {{item.quantity}}개)</small>
                        </td>
                            <td >
                                <p>결제 :
                                    {% if order.importInfo.status == 'paid' %}
                                        결제완료</p>
                                    {% elif order.importInfo.status == 'cancelled' %}
                                        결제취소</p>
                                    {% elif order.importInfo.status == 'ready' %}
                                        미결제</p>
                                    {% else %}
                                        결제실패</p>
                                    {% endif %}
                                <p>배송 : {{order.orderDelivery.get_delivery_status_display}}</p>
                                <p id="confirm_status{{order.merchant_uid}}">구매 : {{order.get_confirm_display}}</p>
                            </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td style="text-align:left;">
                               <span><img src="{{ item.content.image.first.thumbnail.url }}"
                                           style="width:auto;height:60px;"></span>
                                <a href="{{item.content.get_absolute_url}}"> {{ item.content }}</a>
                            </td>
                            <td>
                                <br>{{item.get_cost|intcomma}}원
                                <br><small>({{ item.cost|intcomma }}원 X {{item.quantity}}개)</small>
                            </td>
                        </tr>
                     {% endif %}
                    {% endfor %}
                <tr>
                    <td colspan="3">
                        {% if order.importInfo.pay_method == 'card' %}
                            <p class="payMethod{{order.merchant_uid}}" id="card">결제방법 : 카드결제({{order.importInfo.card_name}}:{{order.importInfo.apply_num}})</p>
                        {% elif order.importInfo.pay_method == 'trans' %}
                            <p class="payMethod{{order.merchant_uid}}" id="trans">결제방법 : 계좌이체 </p>
                        {% elif order.importInfo.pay_method == 'vbank' %}
                            <p class="payMethod{{order.merchant_uid}}" id="vbank">결제방법 : 가상계좌 </p>
                            {% if order.importInfo.status == 'ready'%}
                            <p>은행 : {{order.importInfo.vbank_name}} /
                            계좌번호 : {{order.importInfo.vbank_num}} /
                            예금주 :{{order.importInfo.vbank_holder}}</p>
                            <p>기한 : {{order.importInfo.vbank_date}}</p>
                            {% elif order.importInfo.status == 'paid' %}
                            <p>결제가 완료되었습니다.</p>
                            <p>납부일자 : {{order.importInfo.paid_at}}</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <!--결제가 된 상태에서 구매결정이 미정인 상태에서만 결제취소와 구매결정이 가능해야함-->
                        {% if order.importInfo.status == 'paid'%}
                            {% if order.confirm == '001'%}
                                <button type="button" class="btn btn-danger btn_cancel" name="payment_cancel" id="payment_cancel_{{ order.merchant_uid }}" value="{{ order.merchant_uid }}">구매취소</button>
                                <button type="button" class="btn btn-info btn_confirm" name="payment_confirm" id="payment_confirm_{{ order.merchant_uid }}" value="{{ order.merchant_uid }}">구매결정</button>
                            {% else %}
                                <button type="button" class="btn btn-danger disabled">구매취소</button>
                                <button type="button" class="btn btn-info disabled">구매결정</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-danger disabled">구매취소</button>
                            <button type="button" class="btn btn-info disabled">구매결정</button>
                        {% endif %}
                        {% if order.orderDelivery.delivery_status == '003' or order.orderDelivery.delivery_status == '004' %}
                            <button type="button" class="btn btn-warning btn_delivery" name="{{ order.orderDelivery.delivery_agent }}" id="{{ order.merchant_uid }}" value="{{ order.orderDelivery.delivery_code }}">배송정보</button>
                        {% endif %}
                    </td>
                </tr>
            </td>
            </tr>
            {% empty %}
            <tr>
                <td style="border:1px;" colspan="4">
                    <br>
                    <br>
                    <div class="me_title4_nopadding" align="center">
                        구매내역이 없습니다.
                    </div>
                    <br>
                    <br>
                </td>
            </tr>
            {% endfor %}
                <tr>
                    <!--테이블 마무리를 위한 tr 설정-->
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <div class="container" align="center">
            {% if data_list.has_other_pages %}
            <div class="col-md-offset-2 col-md-6" align="center">
                <nav aria-label="Post pagination" class="mb-4">
                    <ul class="pagination pagination-sm">
                        {% if data_list.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1"> << </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> << </span>
                        </li>
                        {% endif %}

                        {% if has_previous_index %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ previous_index }}"> < </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> < </span>
                        </li>
                        {% endif %}

                        {% for page in page_range %}
                        {% if page == data_list.number %}
                        <li class="active">
                        {% else%}
                        <li>
                        {% endif %}
                        <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endfor %}

                        {% if has_next_index %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ next_index }}"> > </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> > </span>
                        </li>
                        {% endif %}

                        {% if data_list.number != data_list.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ data_list.paginator.num_pages }}"> >> </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> >> </span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>

</div>


<div class="modal fade" id="confirm_decision_modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header" style="background:#BB8FCE;color:white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer" align="center">
              <div class="col-md-6 col-xs-6 confirm-cancel-button">
                  <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
              </div>
              <div class="col-md-6 col-xs-6 confirm-decision-button">
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="deliveryModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background:#BB8FCE;color:white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title deliveryTitle"></h4>
          </div>
          <div class="modal-body">
            <div class="deliveryData"><table class="table table-condensed" id="deliveryData"></table></div>
            <div class="deliveryDetail"><table class="table table-condensed" id="deliveryDetail"></table></div>
          </div>
          <div class="modal-footer">
            <div class="col-md-offset-6 col-md-6 col-xs-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade cancelModal" id="cancelModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background:#BB8FCE;color:white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title cancelTitle"></h4>
          </div>
          <div class="modal-body cancelBody">
            <form action="{% url 'orders:order_cancel' %}" method="post" class="cancel-form" id="cancel-form">
                <p>미메이커 결제취소를 원하시면 아래 취소사유를 10자 이상 작성 해주시면 감사드리겠습니다.</p>
                <p class="cancelExplain"></p>
                {% csrf_token %}
                {% for field in cancelForm %}
                        <br>{{ field.label_tag }}
                        <br>
                        <br>{{ field }}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        <br>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}

                    <div class="modal-footer cancelFooter">
                        <div class="col-md-6 col-xs-6">
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block" >제출</button>
                        </div>
                    </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script type="text/javascript">
    function purchaseCancel(merchant_uid){
        //cancelModal에 제목 붙이기
        $('.cancelTitle').text('주문번호('+merchant_uid+')의 상품 취소');
        //취소설명에 내용 붙이기
        totalCost=$('.totalCost'+merchant_uid).attr('id');
        return_totalCost = totalCost-500;
        content='';
        payMethod=$('.payMethod'+merchant_uid).attr('id');
        if (payMethod == 'card'){
            content='<p style="color:red;"> 카드 결제 취소는 취소일로 2~3일간 정산 처리가 소요될 수 있습니다. 이점 양해 바랍니다. 감사합니다.</p>';
        }else{
            content+='<p style="color:red;"> 무통장입금 또는 실시간 계좌이체를 진행하신 고객께서는 이체 수수료(500~1000원)을 제외한 금액을 환불 받으실 수 있습니다.</p>';
            content+='<p style="color:red;"> 취소사유와 더불어 환불받으실 은행/예금주/계좌번호를 입력해주세요.</p>';
            content+='<p style="color:red;"> 환불 예상금액 : '+totalCost+'원 - 500원(수수료) = '+return_totalCost +'원</p>'
            content+='<p style="color:red;"> 상품은 반드시 선결제하셔서 배송하셔야 합니다.</p>'
        }

        $('.cancelExplain').html(content);
        //주문번호에 주문번호 붙이기
        $('#merchant_uid').val(merchant_uid);
        //주문 취소 modal 띄우기
        //$(".cancelModal").modal();
        $('#cancelModal').modal({
            show: 'true'
        });

        $("#cancel-form").submit(function(e){
                    e.preventDefault(e);
                    $('.cancelModel, button[type="submit"]').addClass("disabled");

                    var data = $(this).serializeArray().reduce(function(obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});

                    merchant_uid = data['merchant_uid'];
                    //alert(data['note']);
                    var form_data = $(this).serialize();
                    //get form action url
                    var post_url = $(this).attr("action");
                    //get form GET/POST method
                    var request_method = $(this).attr("method");
                    //Encode form elements for submission
                    var form_data = $(this).serialize();

                    jQuery.ajax({
                        url: post_url , // 가맹점 서버
                        method: request_method,
                        data: form_data,
                        success: function(response){ // 통신 성공시
                            //if (response.result){
                            //    alert(response.result + ' ' + response.confirm + ' ' + response.msg);
                            //}
                            if (response.result){
                                result = '구매 : '+response.confirm;
                                $('#confirm_status'+merchant_uid).text(result);

                                $('#payment_cancel_'+merchant_uid).addClass("disabled");
                                $('#payment_confirm_'+merchant_uid).addClass("disabled");

                                $('#payment_receipt_'+merchant_uid).removeClass("disabled");
                            }
                            $('.cancelModal').modal('hide');

                        },
                        error: function(request, status, error){ // 통신 실패시
                            alert("구매 취소에 문제가 발생했습니다. 직접 처리를 위해 문의바랍니다.")
                        },
                    }).done(function (data) {
                        <!--//동적 결과물 제시 페이지 request 없음-->

                    }).fail(function(data) {
                        alert("문제발생");
                    });
        });
    }
    function purchaseConfirm(merchant_uid){
        $.ajax({
            url: '{% url 'orders:order_confirm' %}' , // 가맹점 서버
            method: 'POST',
            data: {'merchant_uid':merchant_uid, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response){ // 통신 성공시
                //alert('구매를 감사드립니다.');
                //if (response.result){
                //    alert(response.result + ' ' + response.confirm + ' ' + response.msg);
                //}
                if (response.result){
                    result = '구매 : '+response.confirm;
                    $('#confirm_status'+merchant_uid).text(result);

                    $('#payment_cancel_'+merchant_uid).addClass("disabled");
                    $('#payment_confirm_'+merchant_uid).addClass("disabled");

                    $('#payment_receipt_'+merchant_uid).removeClass("disabled");
                }
            },
            error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                alert("로그인이 필요합니다.");
                window.location.replace("/accounts/login/");
            },
        }).done(function (data) {
            //동적 결과물 제시 페이지 request 없음

        });
    }


    function findParcel(merchant_uid, myKey, t_code, t_invoice){
        //alert('myKey:'+myKey+' t_code:'+t_code+' t_invoice:'+t_invoice);
        //$("#deliveryModal").modal({
        //    show: 'true'
        //});
        $("#deliveryModal").modal();
            $.ajax({
                type:"GET",
                dataType : "json",
                url:"https://info.sweettracker.co.kr/api/v1/trackingInfo?t_key="+myKey+"&t_code="+t_code+"&t_invoice="+t_invoice,
                success:function(data){
                    console.log(data);
                    var myInvoiceData = "";
                    if(data.status == false){
                        myInvoiceData += ('<tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"에러"+'</td>');
                        myInvoiceData += ('<th>'+data.msg+'</td>');
                        myInvoiceData += ('</tr>');
                    }else{
                        myInvoiceData += ('<tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"보내는사람"+'</td>');
                        myInvoiceData += ('<th>'+data.senderName+'</td>');
                        myInvoiceData += ('</tr>');
                        myInvoiceData += ('<tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"제품정보"+'</td>');
                        myInvoiceData += ('<th>'+data.itemName+'</td>');
                        myInvoiceData += ('</tr>');
                        myInvoiceData += ('<tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"송장번호"+'</td>');
                        myInvoiceData += ('<th>'+data.invoiceNo+'</td>');
                        myInvoiceData += ('</tr>');
                        myInvoiceData += ('<tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"받는사람"+'</td>');
                        myInvoiceData += ('<th>'+data.receiverName+'</td>');
                        myInvoiceData += ('</tr>');
                        myInvoiceData += ('<th style="color:white;font-weight:bold;background:#AB95D4;">'+"주소지"+'</td>');
                        myInvoiceData += ('<th>'+data.receiverAddr+'</td>');
                        myInvoiceData += ('</tr>');
                    }


                    $('.deliveryTitle').text(merchant_uid+'의 배송정보');
                    $('#deliveryData').html(myInvoiceData);

                    var trackingDetails = data.trackingDetails;

                    var myTracking="";
                    var header ="";
                    header += ('<thead class="thead-inverse">');
                    header += ('<tr style="background:#99FFFF;">');
                    header += ('<th>'+"시간"+'</th>');
                    header += ('<th>'+"장소"+'</th>');
                    header += ('<th>'+"유형"+'</th>');
                    header += ('<th>'+"전화번호"+'</th>');
                    header += ('</tr>');
                    header += ('</thead>');

                    $.each(trackingDetails,function(key,value) {
                        myTracking += ('<tbody>');
                        myTracking += ('<tr>');
                        myTracking += ('<td>'+value.timeString+'</td>');
                        myTracking += ('<td>'+value.where+'</td>');
                        myTracking += ('<td>'+value.kind+'</td>');
                        myTracking += ('<td>'+value.telno+'</td>');
                        myTracking += ('</tr>');
                        myTracking += ('</tbody>');
                    });

                    $('#deliveryDetail').html(header+myTracking);
                    $(".deliveryModal").modal({
                        show: 'true'
                    });

                },
                error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                    alert(request.error);
                },
                }).done(function (data) {

            });
    }

    $(function(){

        //주문 취소 버튼 클릭 동작
        $('.btn_cancel').click(function(){
            var name = this.name;
            var merchant_uid = this.value;
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-header').html('<h4 class="modal-title me_title3_nopadding">결제상품 취소</h4>');
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">상품구매를 취소하시겠습니까?</div>');
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-footer').children('.confirm-decision-button').html('<button type="button" class="btn btn-primary btn-block" id="confirm_button" onclick="purchaseCancel(\''+merchant_uid+'\');" data-dismiss="modal">확정</button>');
            //alert($('.confirmModal').children('.modal-dialog').children('.modal-content').children('.modal-footer').children('.confirm-decision-button').children().attr('onclick'));

            $('#confirm_decision_modal').modal({
                show: 'true'
            });
        });


        //주문 확정 버튼 동작
        $('.btn_confirm').click(function(){
            var name = this.name;
            var merchant_uid = this.value;
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-header').html('<h4 class="modal-title me_title3_nopadding">결제상품 확정</h4>');
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">상품구매를 결정하시겠습니까?</div>');
            $('#confirm_decision_modal').children('.modal-dialog').children('.modal-content').children('.modal-footer').children('.confirm-decision-button').html('<button type="button" class="btn btn-primary btn-block" id="confirm_button" onclick="purchaseConfirm(\''+merchant_uid+'\')" data-dismiss="modal">확정</button>');
            $('#confirm_decision_modal').modal({
                show: 'true'
            })
        });

    });

    $(document).ready(function(){
        // 배송정보와 배송추적 tracking-api
        $(".btn_delivery").click(function() {
            //////////////////////////키값이 바뀌면 다른 값으로 대체 한다./////////////////////////
            var myKey = "nsLxxzxY4kgL1IVdrXx2LA"; // sweet tracker에서 발급받은 자신의 키 넣는다.
            var t_code = this.name;
            var t_invoice = this.value;
            var merchant_uid = this.id;
            //modal table initialize
            $('#deliveryData').html('');
            $('#deliveryDetail').html('');
            findParcel(merchant_uid, myKey, t_code, t_invoice);

        });

    });
</script>
{% endblock accounts %}

