{% extends "base_accounts.html" %}

{% block accounts %}
{% load i18n static %}

{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-push-2 col-md-8">

            <h2>비밀번호를 분실하셨나요?</h2>
            <p>가입하셨던 이메일을 입력해주시고, 확인을 클릭해 주세요.
                그리고 해당 이메일에서 링크를 접속하시면,
                비밀번호를 초기화하여 세로 설정하실 수 있습니다.</p>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input type="submit" value="이메일 보내기"></p>
                {% csrf_token %}
            </form>

        </div>
    </div>
</div>
{% endblock %}
{% endblock accounts %}