{% extends "base_accounts.html" %}
{% load i18n %}

{% load staticfiles%}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% block content_title %}<h3>{{ title }}</h3>{% endblock %}
        </div>
        <div class="panel-body">
            <p>새로운 비밀번호로 설정이 완료 되었습니다. 로그인을 클릭하시고 변경한 비밀번호로 로그인 하세요!</p>

            <p><a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a></p>
        </div>
    </div>
</div>
{% endblock content %}