{% extends "accounts/index.html" %}
{% load i18n static %}

{% block accounts %}
{% load staticfiles%}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="me_title1">비밀번호 변경</div>
            </div>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token%}
                {{ form.as_p}}
                <button class="btn btn-primary" type="submit" name="button">변경하기</button>
            </form>
        </div>
    </div>
</div>

{% endblock accounts %}