{% extends "base_accounts.html" %}

{% block accounts %}
{% load i18n static %}

{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-push-2 col-md-8">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="me_title1">비밀번호를 분실하셨나요?</div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        계정을 등록하실 때 사용하신 이메일 주소를 입력하고 버튼을 클릭하세요. 해당 이메일로 보내진 링크를 클릭하시면,
                        비밀번호를 새로 설정하실 수 있습니다.
                    </p>
                    <p>
                        Please fill out the email you used for registering account and click the button. if you connect
                        the link we sent on your email, you can reset the password you forgot.
                    </p>
                    <p>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-row field-email col-md-8">
                                {{ form.email.errors }}
                                <label for="id_email">{% trans 'Email address:' %}</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-4">
                                <!--<input type="submit" value="{% trans 'Reset my password' %}">-->
                                <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
                            </div>
                        </fieldset>
                    </form>
                    </p>
                </div>


            </div>


        </div>
    </div>
</div>
{% endblock %}
{% endblock accounts %}