{% extends "base_accounts.html" %}

{% block content %}
{% load staticfiles%}
{% load i18n static %}

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            {% block content_title %}<h3>{{ title }}</h3>{% endblock %}
        </div>
        <div class="panel-body">
            {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <br>
                    <div class="form-row field-password1">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <br>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
                    </div>
                </fieldset>
            </form>

            {% else %}

            <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request
                a
                new password reset." %}</p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}