{% extends "base_accounts.html" %}

{% block content %}
{% load staticfiles%}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% block content_title %}
            <div class="row">
                <div class="me_title1">{{ title }}</div>
            </div>
            {% endblock %}
        </div>

        <div class="panel-body">
        <p>가입하신 이메일을 올바로 적으셨으면, 해당 메일로 비밀번호 리셋 링크를 곧 받으실 수 있습니다.</p>

        <p>만약 메일을 받지 못하셨다면, 이메일을 다시 확인하시거나 스팸메일을 확인 해주시기 바랍니다. 감사합니다.</p>
        </div>

    </div>
</div>

{% endblock content %}