{% extends "accounts/index.html" %}

{% block accounts %}
{% load staticfiles%}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="me_title1">회원 정보</div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <ul>
                    <li style="padding:5px;"><div class="me_title3">사 진 : </div><span><img src="{{user_profile.thumbnail.url}}" alt=""
                                                                       class="img-thumbnail"></span></li>
                    <li style="padding:5px;"><div class="me_title3">아이디 : {{ user.username}}</div></li>
                    <li style="padding:5px;"><div class="me_title3">이메일 : {{ user.email}}</div></li>
                    <li style="padding:5px;"><div class="me_title3">이 름 : {{ user.first_name}}</div></li>
                    {% if user_profile.birth %}
                    <li style="padding:5px;"><div class="me_title3">생년월일 : {{ user_profile.birth}}</div></li>
                    {% endif %}
                    {% if user_profile.gender %}
                    <li style="padding:5px;"><div class="me_title3">성 별 : {{ user_profile.gender}}</div></li>
                    {% endif %}
                    {% if user_profile.phone %}
                    <li style="padding:5px;"><div class="me_title3">연락처 : {{ user_profile.phone}}</div></li>
                    {% endif %}
                    {% if user_profile.address %}
                    <li style="padding:5px;"><div class="me_title3">주 소 : {{ user_profile.address}}</div></li>
                    {% endif %}
                    {% if user_profile.description %}
                    <li style="padding:5px;"><div class="me_title3">소 개 : {{ user_profile.description}}</div></li>
                    {% endif %}
                    {% if user_profile.route %}
                    <li style="padding:5px;"><div class="me_title3">가입경로 : {{ user_profile.get_route_display}}</div></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock accounts %}