{% extends "accounts/index.html" %}

{% block accounts %}
{% load staticfiles%}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>회원 정보</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li style="padding:5px;"><h4>아이디 : {{ user.username}}</h4></li>
                <li style="padding:5px;"><h4>이메일 : {{ user.email}}</h4></li>
                <li style="padding:5px;"><h4>이 름 : {{ user.first_name}}</h4></li>
                {% if user_profile.birth %}
                <li style="padding:5px;"><h4>생년월일 : {{ user_profile.birth}}</h4></li>
                {% endif %}
                {% if user_profile.gender %}
                <li style="padding:5px;"><h4>성 별 : {{ user_profile.gender}}</h4></li>
                {% endif %}
                {% if user_profile.phone %}
                <li style="padding:5px;"><h4>연락처 : {{ user_profile.phone}}</h4></li>
                {% endif %}
                {% if user_profile.address %}
                <li style="padding:5px;"><h4>주 소 : {{ user_profile.address}}</h4></li>
                {% endif %}
                {% if user_profile.description %}
                <li style="padding:5px;"><h4>소 개 : {{ user_profile.description}}</h4></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock accounts %}