{% extends 'base_accounts.html' %}
{% block title %}Withdrawal Result{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="me_title1">회원 탈퇴 완료</div>
                </div>
            </div>

            <div class="panel-body">
                    <p>
                        미메이커 서비스에서 탈퇴 되셨습니다. 현재 아이디로 재 가입이 불가능하시고, 해당 아이디의 정보는 약 1년간 보관됩니다.<br>
                        더 즐거운 코딩 교육과 메이커 서비스를 제공하기 위해서 최선을 다하겠습니다.<br>
                        감사합니다.<br><br>
                        만들면서 배우는 코딩교육서비스 '미메이커'<br>
                        (주)오픈핑거스
                    </p>

            </div>
        </div>
</div>


{% endblock content %}