{% extends "base_lectures.html" %}

{% block content %}
{% load staticfiles%}
{% load humanize %}
<div class="container">

    <div class="me_title2_nopadding">
        <a href="{%url 'lectures:index' %}">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            온라인 강의</a> >
        {% if object.category.title == "엔트리"%}
        <a href="{%url 'lectures:entry_list'%}">{{object.category}}</a> >
        {% elif object.category.title == "메이커" %}
        <a href="{%url 'lectures:maker_list'%}">{{object.category}}</a> >
        {% elif object.category.title == "스크래치" %}
        <a href="{%url 'lectures:scratch_list'%}">{{object.category}}</a> >
        {% endif %}
        <a href="{%url 'lectures:lecture_detail' pk=object.pk%}">{{object.title}}</a>
    </div>
    <hr>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">Home</a></li>
        {% for detail in object.video_set.all%}
        <li role="presentation"><a href="#{{forloop.counter}}강" aria-controls="{{forloop.counter}}강" role="tab"
                                   data-toggle="tab">{{forloop.counter}}강</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div class="row">
                <div class="col-md-6 col-xs-12 item-photo">
                        <img style="max-width:100%;" src="{{ object.lecture_image.url }}"/>
                </div>
                <div class="col-md-6 col-xs-12" style="border:0px solid gray">
                    <br>
                    <!-- Datos del vendedor y titulo del producto -->
                    <div class="me_title2_nopadding">{{ object.title }}</div>
                    <br>
                    <div class="me_title4_nopadding" style="color:#337ab7">{{ object.description }}</div>
                    <br>
                    <div class="section" style="padding-bottom:5px;">
                        <div class="me_title4_nopadding">
                            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 시청연령
                        </div>
                        <div>
                            <div class="me_title5_nopadding">8~17세</div>
                        </div>

                    </div>
                    <br>
                    <div class="section" style="padding-bottom:5px;">
                        <div class="me_title4_nopadding">
                            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 활용 교보재
                        </div>
                        {% if object.material.all %}
                        {% for material in object.material.all %}
                        <div class="me_title5_nopadding">{{ material.title}}</div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h5 class="me_title5_nopadding">교재 및 교보재 없이 수강 할 수 있습니다.</h5>
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="section row ">
                        <div class="col-md-offset-3 col-md-6 col-xs-12">
                            {% if isRegistered == True%}
                            <a href="{%url 'lectures:favorite_add' object.pk %}" class="btn btn-primary btn-block"
                               role="button"
                               disabled="disabled">
                                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> 관심강의
                            </a>
                            {% else %}
                            <a href="{%url 'lectures:favorite_add' object.pk %}" class="btn btn-primary btn-block"
                               role="button">
                                <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 관심강의
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <br>
            {% if object.sample%}
            <div class="me_title2_nopadding"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                샘플 영상
            </div>
            <hr>
            <div class="row featurette" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-md-push-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{object.sample}}"></iframe>
                    </div>
                </div>
            </div>
            {%endif%}
            {% if object.content %}
            <div class="me_title2_nopadding"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 영상 소개
            </div>
            <hr>
            <h4 class="lead">{{object.content|linebreaks}}</h4>
            {% endif %}


            {% if object.material.all %}
            <div class="me_title2_nopadding"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 관련 교보재
            </div>
            <div class="row">
                <hr>
                {% for product in object.material.all %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{product.thumbnail.url}}" alt="...">
                        <div class="caption">
                            <h4>{{ product.title|truncatechars:23 }}</h4>
                            <p>{{ product.description|truncatechars:55 }}</p>
                            <p align="center">
                                <a href="{% url 'products:product_detail' product.id%}" class="btn btn-primary"
                                   role="button">구경하기</a>
                                <a href="{{product.link}}" class="btn btn-default" role="button">구매하기</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}


        </div>


        {% for detail in object.video_set.all%}
        <div role="tabpanel" class="tab-pane fade" id="{{forloop.counter}}강">
            <div class="row">
                <div class="col-md-12" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>{{ detail.title }}</h3>
                    {% if detail.movie%}
                    <hr>
                    <div class="row featurette" style="margin-top:10px;margin-bottom:10px;">
                        <div class="col-md-push-3 col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen src="{{detail.movie}}"></iframe>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    <br>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">강의 소개</h3>
                        </div>
                        <div class="panel-body">
                            <h5 style="color:#337ab7">{{ detail.content }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>


<script>
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTab a[href="#home"]').tab('show') // Select tab by name
{% for detail in object.video_set.all%}
$('#myTab a[href="#{{forloop.counter}}강"]').tab('show') // Select tab by name
{% endfor %}











</script>


{% endblock content %}
