{%extends "base.html"%}


{% load staticfiles %}

{%block menu%}


<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li>
    <!--인트로-->
    {% include 'includes/nav_menu_intro.html' %}
</li>
<li class="dropdown">
    <!--교보재 및 교재-->
    {% include 'includes/nav_menu_products.html' %}
</li>
<li class="dropdown active">
    <!--강좌-->
    {% include 'includes/nav_menu_lectures.html' %}
</li>
<li class="dropdown">
    <!--게시판-->
    {% include 'includes/nav_menu_boards.html' %}
</li>
<!--------------------------------------------메뉴 종료------------------------------------------------------>


{%endblock menu%}

{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">

.jumbotron{
    background: url("{% static 'img/img_sub2.jpg'%}") center center no-repeat;
}

@media screen and (min-width: 601px) {

.carousel-inner > .item > img
{
  width:auto;
  height:350px;
  max-height:350px;
}
.carousel,
.carousel-inner > .item
 {
  width:auto;
  height:350px;
}
}
@media screen and (max-width: 600px) {
.carousel-inner > .item > img
{
  width:auto;
  height:200px;
  max-height:200px;
}
.carousel,
.carousel-inner > .item
{
  width:auto;
  height:200px;
}


</style>
<div class="row">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <div class="me_jumbotron_title" align="center">유투브로 무료 학습하는 <br>'미메이커 온라인 교육'</div>
                <br>
                <div class="me_jumbotron_subtitle" align="center">미메이커는 다양한 코딩키트와 교육 커리큘럼이 준비되어 있습니다.<br/>
                    또한, 이러한 커리큘럼을 온라인을 통해 무료학습하고 반복해서 보실 수 있습니다.<br/>
                    미메이커 코딩보드 세트와 키트만 있으면 언제 어디서나 무료로 배우실 수 있습니다!
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock jumbotron%}


{% block inner_menu %}
<br/>
{% include 'includes/category_list.html' %}
<br/>
<br/>
<br/>
{% endblock inner_menu %}
