{%extends "base.html"%}

{% load staticfiles %}
{% load humanize %}
{%block menu%}

<style>
.table-striped > thead > tr > td,
.table-striped > thead > tr > th,
.table-striped > thead > tr > th{
  background-color: #EBDEF0;
}
.me_title1,
.me_title2{
    padding: 15px;
}



</style>

<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li>
    <!--인트로-->
    {% include 'includes/nav_menu_intro.html' %}
</li>
<li class="dropdown">
    <!--교보재 및 교재-->
    {% include 'includes/nav_menu_products.html' %}
</li>
<li class="dropdown">
    <!--강좌-->
    {% include 'includes/nav_menu_lectures.html' %}
</li>
<li class="dropdown active">
    <!--게시판-->
    {% include 'includes/nav_menu_boards.html' %}
</li>

<!--------------------------------------------메뉴 종료------------------------------------------------------>
{%endblock menu%}

{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">
.jumbotron{
    background-image: url("{% static 'img/img_sub4.jpg'%}");
}






</style>
<div class="row">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="me_jumbotron_title" align="center">유저가 참여하는 집단 지성 <br> "정보 공유 게시판".</div>
            <br>
            <div class="me_jumbotron_subtitle" align="center">개인이 알고 있는 지식에는 한계가 있습니다. 지금은 지식 정보의 시대입니다. <br>
                함께 정보를 공유하여 문제를 해결하는 집단 지성의 힘을 익혀 보세요. <br> 이제 서로 공유를 통해 함께 풀어봅시다!
            </div>
        </div>
    </div>
</div>


{%endblock jumbotron%}






