{%extends "base.html"%}


{% load staticfiles %}

{%block menu%}


<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li class="active"><a href="/intro">미메이커는?</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">교재와 교보재 <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products:product_list'%}">교재와 교보재</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{% url 'products:content_category_list' pk=4 %}">코딩보드 및 센서</a></li>
        <li><a href="{% url 'products:content_category_list' pk=3 %}">조립 키트</a></li>
        <li><a href="{% url 'products:content_category_list' pk=2 %}">언플러그드</a></li>
        <li><a href="{% url 'products:content_category_list' pk=1 %}">교재</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">온라인 강의<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products:lecture_list'%}">온라인 강의</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{% url 'products:content_category_list' pk=5 %}">엔트리</a></li>
        <li><a href="{% url 'products:content_category_list' pk=7 %}">메이커</a></li>
        <li><a href="{% url 'products:content_category_list' pk=6 %}">스크래치</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">공유게시판<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/boards">공유게시판</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{%url 'boards:board_topic' pk=1%}">코딩 강의</a></li>
        <li><a href="{%url 'boards:board_topic' pk=2%}">코딩 보드</a></li>
        <li><a href="{%url 'boards:board_topic' pk=3%}">3D모델링 및 출력</a></li>
    </ul>
</li>
<!--------------------------------------------메뉴 종료------------------------------------------------------>
{%endblock menu%}
{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">
.jumbotron{
    background-image: url("{% static 'img/memaker_board.png'%}");
}

</style>
<div class="row">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <div class="me_jumbotron_title" align="center">만들면서 배우는 코딩 교육 서비스 <br>'미메이커'</div>
                <br>
                <div class="me_jumbotron_subtitle" align="center">4차 산업혁명 시대 코딩 교육이 그 어느 때 보다도 중요해지고 있습니다.<br/>
                    미메이커는 메이커 활동과 수학, 과학, 기술, 공학을 접목하여 재미있는 코딩교육 컨텐츠를 준비하고 있습니다. <br>
                    미메이커에서 진행하는 차별화된 창의 교육 콘텐츠로 학생 교육에 활용해보세요.
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock jumbotron%}







