{%extends "base.html"%}

{% load staticfiles %}
{% load humanize %}
{%block menu%}

<style>
.table-striped > thead > tr > td,
.table-striped > thead > tr > th,
.table-striped > thead > tr > th{
  background-color: #EBDEF0;
}
.me_title1,
.me_title2{
    padding: 15px;
}



</style>

<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li><a href="/intro">미메이커는?</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">교재와 교보재 <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products:product_list'%}">교재와 교보재</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{% url 'products:content_category_list' pk=4 %}">코딩보드 및 센서</a></li>
        <li><a href="{% url 'products:content_category_list' pk=3 %}">조립 키트</a></li>
        <li><a href="{% url 'products:content_category_list' pk=2 %}">언플러그드</a></li>
        <li><a href="{% url 'products:content_category_list' pk=1 %}">교재</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">온라인 강의<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'products:lecture_list'%}">온라인 강의</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{% url 'products:content_category_list' pk=5 %}">엔트리</a></li>
        <li><a href="{% url 'products:content_category_list' pk=7 %}">메이커</a></li>
        <li><a href="{% url 'products:content_category_list' pk=6 %}">스크래치</a></li>
    </ul>
</li>
<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-expanded="false">공유게시판<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/boards">공유게시판</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">세부항목</li>
        <li><a href="{%url 'boards:board_topic' pk=1%}">코딩 강의</a></li>
        <li><a href="{%url 'boards:board_topic' pk=2%}">코딩 보드</a></li>
        <li><a href="{%url 'boards:board_topic' pk=3%}">3D모델링 및 출력</a></li>
    </ul>
</li>

<!--------------------------------------------메뉴 종료------------------------------------------------------>
{%endblock menu%}

{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">
.jumbotron{
    background-image: url("{% static 'img/img_sub4.jpg'%}");
}






</style>
<div class="row">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="me_jumbotron_title" align="center">유저가 참여하는 집단 지성 <br> "정보 공유 게시판".</div>
            <br>
            <div class="me_jumbotron_subtitle" align="center">개인이 알고 있는 지식에는 한계가 있습니다. 지금은 지식 정보의 시대입니다. <br>
                함께 정보를 공유하여 문제를 해결하는 집단 지성의 힘을 익혀 보세요. <br> 이제 서로 공유를 통해 함께 풀어봅시다!
            </div>
        </div>
    </div>
</div>


{%endblock jumbotron%}






