{%extends "base.html"%}


{% load staticfiles %}

{%block menu%}


<!--------------------------------------------메뉴 시작------------------------------------------------------>
                        <li><a href="/intro">미메이커는?</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">교재와 교보재 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/products">교재와 교보재</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">세부항목</li>
                                <li><a href="{% url 'products:board_list'%}">코딩보드 및 센서</a></li>
                                <li><a href="{% url 'products:kit_list'%}">조립 키트</a></li>
                                <li><a href="{% url 'products:unpluged_list'%}">언플러그드</a></li>
                                <li><a href="{% url 'products:book_list'%}">교재</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">온라인 강의<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/lectures">온라인 강의</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">세부항목</li>
                                <li><a href="{% url 'lectures:entry_list'%}">엔트리</a></li>
                                <li><a href="{% url 'lectures:maker_list'%}">메이커</a></li>
                                <li><a href="{% url 'lectures:scratch_list'%}">스크래치</a></li>
                            </ul>
                        </li>

<!--------------------------------------------메뉴 종료------------------------------------------------------>
{%endblock menu%}

{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">
.jumbotron{
    background-image: url("{% static 'img/memaker_board.png'%}");
    z-index: -1;
    height: 400px;
    opacity: 0.8;
     display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color : #FFF;

}
.display-3{
font-weight: bold
}


.jumbotron .container {
  position: relative;
  top:100px;
}

</style>
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h2 class="display-3" align="center">만들면서 배우는 코딩 교육 서비스에 지금 로그인하세요.<br>
                그리고 다양한 교육 서비스를 이용해보세요!</h2>
            <p class="lead" align="center">4차 산업혁명 시대 코딩 교육이 그 어느 때 보다도 중요해지고 있습니다.<br/>
                미메이커에서 진행하는 차별화된 창의 교육 콘텐츠로 학생 또는 자녀 교육에 활용해보세요.</p>
        </div>
    </div>
</div>


{%endblock jumbotron%}






