{%extends "base.html"%}


{% load staticfiles %}

{%block menu%}


<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li>
    <!--인트로-->
    {% include 'includes/nav_menu_intro.html' %}
</li>
<li class="dropdown active">
    <!--교보재 및 교재-->
    {% include 'includes/nav_menu_products.html' %}
</li>
<li class="dropdown">
    <!--강좌-->
    {% include 'includes/nav_menu_lectures.html' %}
</li>
<li class="dropdown">
    <!--게시판-->
    {% include 'includes/nav_menu_boards.html' %}
</li>
<!--------------------------------------------메뉴 종료------------------------------------------------------>


{%endblock menu%}

{%block jumbotron%}
{% load staticfiles%}
<style type="text/css">

.jumbotron{
    background: url("{% static 'img/img_sub1.jpg'%}") center center no-repeat;
}

@media screen and (min-width: 601px) {

.carousel-inner > .item > img
{
  width:auto;
  height:350px;
  max-height:350px;
}
.carousel,
.carousel-inner > .item
 {
  width:auto;
  height:350px;
}
}
@media screen and (max-width: 600px) {
.carousel-inner > .item > img
{
  width:auto;
  height:200px;
  max-height:200px;
}
.carousel,
.carousel-inner > .item
{
  width:auto;
  height:200px;
}

}


</style>
<div class="row">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <div class="me_jumbotron_title" align="center">쉽고 재미있게 배울 수 있는 다양한 코딩 교보재 <br>'미메이커 코딩보드 세트'</div>
                <br>
                <div class="me_jumbotron_subtitle" align="center">로봇 코딩을 통해 코딩이 우리 삶에 다양하게<br/>
                    사용되고 활용될 수 있다는 것을 경험해 보세요!<br>
                    미메이커에서는 수십종의 다양한 키트를 활용한 코딩&메이커 교육을 경험할 수 있습니다.
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock jumbotron%}


{% block inner_menu %}
<br/>
{% include 'includes/category_list.html' %}
<br/>
<br/>
<br/>
{% endblock inner_menu %}
