{%extends "base.html"%}
{% load staticfiles %}
{% block menu %}
{% load humanize %}
<!--------------------------------------------메뉴 시작------------------------------------------------------>
<li>
    <!--인트로-->
    {% include 'includes/nav_menu_intro.html' %}
</li>
<li class="dropdown">
    <!--교보재 및 교재-->
    {% include 'includes/nav_menu_products.html' %}
</li>
<li class="dropdown">
    <!--강좌-->
    {% include 'includes/nav_menu_lectures.html' %}
</li>
<li class="dropdown">
    <!--게시판-->
    {% include 'includes/nav_menu_boards.html' %}
</li>
<!--------------------------------------------메뉴 종료------------------------------------------------------>


{% endblock menu%}


{% block content %}
<style type="text/css">
.item > .first-slide{
    background-image: url('../static/img/main_slide01_2000X500.png');
}
.item > .second-slide{
    background-image: url('../static/img/main_slide02_2000X500.png');
}
.item > .third-slide{
    background-image: url('../static/img/main_slide03_2000X500.png');
}

.fade-in{
    opacity:0;
}
.fade-in-title{
    opacity:0;
}
.fade-in-card{
    opacity:0;
}

@media screen and (min-width: 601px) {
       .carousel {
            height: 400px;
            margin-bottom: 60px;
            margin-top: -25px;
            object-fit: cover;
       }
       .carousel-inner .item {
            height: 400px;
            object-fit: cover;
        }
       .carousel-inner > .item > img {
            width:100%; height:400px;
            background-position: center;
            opacity: 0.7;
            display: block;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
/*
        .fade-in{
            opacity:0;
        }
	.fade-in-title{
            opacity:0;
        }
	.fade-in-card{
            opacity:0;
        }
*/
        .slide-in{
            margin-left:-10px;
            max-width:100%;
            opacity:0;
        }
	
        .increase-in{

            align:center;
            overflow:hidden;
            width:90%;
            height:90%;
            opacity:0;
        }

        .increase-in:hover img{
            transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -o-transform:scale(1.1);
            -webkit-transition:.2s;
            -moz-transition:.2s;
            -ms-transition:.2s
        }
        .increase-in img{
            transform:scale(1);
            -webkit-transform:scale(1);
            -moz-transform:scale(1);
            -o-transform:scale(1);
            -webkit-transition:.2s;
            -moz-transition:.2s;
            -ms-transition:.2s
        }
        .fade-in-card:hover{

            transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -o-transform:scale(1.1);
            -webkit-transition:.2s;
            -moz-transition:.2s;
            -ms-transition:.2s
        }
        .fade-in-card{
            transform:scale(1);
            -webkit-transform:scale(1);
            -moz-transform:scale(1);
            -o-transform:scale(1);
            -webkit-transition:.2s;
            -moz-transition:.2s;
            -ms-transition:.2s
        }
}
@media screen and (max-width: 600px) {
       .carousel {
        height: 300px;
        margin-bottom: 60px;
        margin-top: -25px;
        object-fit: cover;
       }
       .carousel-inner .item {
            height: 300px;
            object-fit: cover;
        }
       .carousel-inner > .item > img {
            width:100%; height:300px;
            background-position: center;
            opacity: 0.7;
            display: block;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }



}


</style>

<!-- Carousel
================================================== -->
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" align="center">
                    <div class="item active">
                        <img class="first-slide"
                             src="{% static 'img/blank.png'%}"
                             alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="me_jumbotron_title">
                                미메이커 코딩보드
                            </div>
                            <br>
                            <div class="me_jumbotron_subtitle">
                                모듈 조립형 코딩 보드로 합리적인 가격과 다양한 콘텐츠로 로봇코딩의 세계를 경험 할 수 있습니다.
                                Creative 창의성의 의미는 Create 라는 단어와 닮았습니다. 많이 만들고 고민해야만 창의성을 키울 수 있습니다.
                                창의력이 필요한 4차 산업혁명시대 자녀와 학생의 창의력을 코딩하세요!
                            </div>
                            <br>
                            <p><a class="btn btn-lg btn-info" href="{% url 'products:content_category_list' category_slug='코딩보드' %}"
                                  role="button">구매하기</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="second-slide"
                             src="{% static 'img/blank.png'%}"
                             alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="me_jumbotron_title">
                                다양한 조립활동
                            </div>
                            <br>
                            <div class="me_jumbotron_subtitle">
                                미메이커는 메이커와 코딩을 접목한 수업을 통해 학생들의 문제해결능력을 향상시켜줍니다.
                                무엇보다 즐겁고 재미있는 코딩을 통해 학생들은 즐거운 코딩의 세계를 경험할 수 있습니다.
                                다양한 미메이커 프로젝트 키트를 활용하여 자신만의 로봇 코딩을 만들어 보세요.
                            </div>
                            <br>
                            <p><a class="btn btn-lg btn-info" href="{% url 'products:content_category_list' category_slug='조립키트' %}"
                                  role="button">구경하기</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="third-slide"
                             src="{% static 'img/blank.png'%}"
                             alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="me_jumbotron_title">
                                무료 강의와 교육자료
                            </div>
                            <br>
                            <div class="me_jumbotron_subtitle">
                                전문 강사의 엔트리 코딩 강의와 로봇 코딩 강의를 통해 알고리즘의 원리를 익히고,기 응용해봅시다.
                                약 100개가 넘는 다양한 메이커 및 코딩 강좌를 통해 여러분을 메이커와 코딩의 세계로 초대합니다.
                                함께 4차 산업혁명 시대, 필수 언어인 코딩을 익혀보세요.
                            </div>
                            <br>
                            <p><a class="btn btn-lg btn-info" href="{% url 'products:lecture_list'%}"
                                  role="button">강의듣기</a>
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carousel -->
        </div>
    </div>
</div>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3 fade-in" align="center">
            <img class="img-circle"
                 src="{% static 'img/mathematics_memaker.png'%}"
                 alt="Generic placeholder image" width="140" height="140">
            <div class="me_title1">수학이 있는 코딩</div>
            <small>수학이 있는 코딩은 초등학교 중학교에서 배우는 산수, 수학 단원의 핵심내용을 코딩과 접목하여 학습하는 커리큘럼입니다.
                단순하게 스크래치나 엔트리로 블록을 쌓고 게임을 하는 것이 아니라 그 속에 수학의 원리와 개념을 학습하는 코딩 교육과정이라고 할 수 있습니다.
                <br>(커리큘럼 준비중)
            </small>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 fade-in" align="center">
            <img class="img-circle"
                 src="{% static 'img/science_memaker.png'%}"
                 alt="Generic placeholder image" width="140" height="140">
            <div class="me_title1">과학이 있는 코딩</div>
            <small>과학이 있는 코딩은 교과서에서 다루는 주제 혹은 우리 일상생활에서 접할 수 있는 다양한 과학상식과 지식을 코딩으로 학습하는 커리큘럼입니다.
                과학이 있는 코딩을 통해서 상상만으로 이해하기 힘들었던 다양한 원리와 개념을 익일 수 있습니다.
                <br>(커리큘럼 준비중)
            </small>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 fade-in" align="center">
            <img class="img-circle"
                 src="{% static 'img/technology_memaker.png'%}"
                 alt="Generic placeholder image" width="140" height="140">
            <div class="me_title1">기술이 있는 코딩</div>
            <small>기술이 있는 코딩은 단순한 스크래치, 엔트리와 같은 블록코딩의 범위를 넘나들며 다양한 코딩의 기술을 배우고 메이커의 지식을 학습하는 커리큘럼입니다.
                기술이 있는 코딩을 통해 진정한 프로그래머 그리고, 메이커를 향한 도약을 할 수 있습니다.
                <br>(커리큘럼 준비중)
            </small>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 fade-in" align="center">
            <img class="img-circle"
                 src="{% static 'img/engineering_memaker.png'%}"
                 alt="Generic placeholder image" width="140" height="140">
            <div class="me_title1">공학이 있는 코딩</div>
            <small>공학이 있는 코딩은 엔지니어의 사고방식을 바탕으로 코딩을 배워나가는 학습과정입니다.
                미메이커의 온/오프라인 교육은 다양한 Computational Thinking을 학습할 수 있습니다. 창의 공학적 코딩의 세계로 초대합니다.
                <br>(커리큘럼 준비중)
            </small>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
</div>
<br>
<div class="container">
    <div class="me_title1_nopadding fade-in-title">
        <a href="{% url 'products:lecture_list' %}">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            추천 강의</a>
    <hr>
    </div>


    <div class="row">
        {% for lecture in lecture_list %}
        <div class="col-sm-6 col-md-4 fade-in-card" align="center">
            <div class="thumbnail">
                <a href="{% url 'products:content_information' content_slug=lecture.slug %}" style="text-decoration:none; !important">
                    <img src="{{lecture.image.first.thumbnail.url}}" alt="...">
                    <div class="caption">
                        <h4>
                            {% if lecture.recommend == 1 %}
                                <span class="label label-success">{{lecture.get_recommend_display}}</span>
                            {% elif lecture.recommend == 2 %}
                                <span class="label label-warning">{{lecture.get_recommend_display}}</span>
                            {% endif %}
                            {{ lecture.title|truncatechars:23 }}
                        </h4>
                        <p>{{ lecture.description|truncatechars:55 }}</p>
                        {% if lecture.category.section == '상품'%}
                        <p>
                            <span>가격 : </span>
                            {% if lecture.isDiscount %}
                                <span class="label label-danger">할인</span>
                                <span><strike> ￦ {{ lecture.cost|intcomma }}</strike></span>&nbsp;▶&nbsp;
                                <span>￦ {{ lecture.discount|intcomma }} 원</span>
                            {% else %}
                                <span>￦ {{ lecture.cost|intcomma }} 원</span>
                            {% endif %}
                        </p>
                        {% else %}
                            <!--인터넷 강의 무료-->
                        {% endif %}
                        <p align="center">
                            <a href="{% url 'products:content_information' content_slug=lecture.slug %}" class="btn btn-primary" role="button">수강하기</a>
                        </p>
                </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="me_title1_nopadding fade-in-title"><a href="{% url 'products:product_list' %}">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        추천 제품</a>
    <hr>
    </div>
    <div class="row">
        {% for product in product_list %}
        <div class="col-sm-6 col-md-4 fade-in-card" align="center">
            <div class="thumbnail">
            <a href="{% url 'products:content_information' content_slug=product.slug %}" style="text-decoration:none; !important">
                <img src="{{product.image.first.thumbnail.url}}" alt="...">
                <div class="caption">
                    <h4>
                        {% if product.recommend == 1 %}
                            <span class="label label-success">{{product.get_recommend_display}}</span>
                        {% elif product.recommend == 2 %}
                            <span class="label label-warning">{{product.get_recommend_display}}</span>
                        {% endif %}
                        {{ product.title|truncatechars:23 }}
                    </h4>
                    <p>{{ product.description|truncatechars:55 }}</p>
                    {% if product.category.section == '상품'%}
                    <p>
                        <span>가격 : </span>
                        {% if product.isDiscount %}
                            <span class="label label-danger">할인</span>
                            <span><strike> ￦ {{ product.cost|intcomma }}</strike></span>&nbsp;▶&nbsp;
                            <span>￦ {{ product.discount|intcomma }} 원</span>
                        {% else %}
                            <span>￦ {{ product.cost|intcomma }} 원</span>
                        {% endif %}
                    </p>
                    {% else %}
                        <!--인터넷 강의 무료-->
                    {% endif %}
                    <p align="center">
                        <a href="{% url 'products:content_information' content_slug=product.slug %}" class="btn btn-primary"
                           role="button">구경하기</a>
                        <!--<a href="{{product.product_set.first.link}}"-->
                           <!--class="btn btn-default"-->
                           <!--target="_blank"-->
                           <!--role="button">구매하기</a>-->
                    </p>
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
<div class="container">
    <div class="me_title1_nopadding fade-in-title">
        <a href="{%url 'intro:index'%}">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            서비스 특징 </a>
    <hr>
    </div>

    <div class="row container-fluid">
        <div class="col-sm-12 col-md-12 fade-in-card" align="center">
            <br>
            <img src="{% static 'img/특징_인강.png'%}" alt="Responsive image"
                 class="img-responsive img-thumbnail col-sm-12 col-md-push-2 col-md-8">
        </div>
        <div class="col-sm-12 col-md-12 fade-in-card" align="center">
            <br>
            <img src="{% static 'img/특징_보드.png'%}" alt="Responsive image"
                 class="img-responsive img-thumbnail col-sm-12 col-md-push-2 col-md-8">
        </div>
        <div class="col-sm-12 col-md-12 fade-in-card" align="center">
            <br>
            <img src="{% static 'img/특징_교재.png'%}" alt="Responsive image"
                 class="img-responsive img-thumbnail col-sm-12 col-md-push-2 col-md-8">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        /* 1 */
        $(window).scroll( function(){
            /* 2 */
            $('.fade-in').each( function(i){
                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();
                /* 3 */
                if( bottom_of_window > bottom_of_object/2 ){
                    $(this).animate({'opacity':'1'},500);
                }
            });
            $('.fade-in-card').each( function(i){
                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();
                /* 3 */
                if( bottom_of_window > bottom_of_object ){
                    $(this).animate({'opacity':'1'},500);
                }
            });
            $('.slide-in').each( function(i){ 

                var bottom_of_element = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                if(bottom_of_window > bottom_of_element ){

                    $(this).animate({'opacity':'1', 'margin-left':'0px'},500);
                }

            });
            $('.fade-in-title').each( function(i){

                var bottom_of_element = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                if(bottom_of_window > bottom_of_element ){

                    $(this).animate({'opacity':'1'},500);
                }

            });

            $('.increase-in').each( function(i){

                var bottom_of_element = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                if( bottom_of_window > bottom_of_element ){

                    $(this).animate({'opacity':'1', 'width':'100%', 'height':'100%'},500);
                }

            });

        });
    });
</script>
{% endblock content %}


