{% load humanize %}
<div class="me_title2_nopadding">
    <a href="{%url 'products:product_list' %}">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        교재와 교보재</a> >
    <a href="{{category.get_absolute_url}}"> {{category.title}}</a> >
    <a href="{%url 'products:content_information' content_slug=content.slug %}">{{content.title}}</a>

</div>
<hr>
<div class="col-md-6 col-xs-12 item-photo">
    {% include 'includes/carousel.html' %}
</div>
<div class="col-md-6 col-xs-12">
    <div class="me_title2_nopadding">{{ content.title }}</div>
    <br>
    <div class="me_title4_nopadding" style="color:#337ab7">{{ content.description }}</div>
    <br>
    <div class="me_title4_nopadding">
        <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 가격
    </div>
    <div class="me_title5_nopadding">
        {% if content.isDiscount %}
        <strike> ￦ {{ content.cost|intcomma }}</strike><br>
        <span class="label label-danger">할인</span> ￦ {{ content.discount|intcomma }} 원
        {% else %}
        ￦ {{ content.cost|intcomma }} 원
        {% endif %}
    </div>
    <div class="section">
        <div class="me_title4_nopadding" style="margin-top:15px;">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 구매가능
        </div>
        <div>
            {% if content.isSale%}
            <div class="me_title5_nopadding">판매중</div>
            {% else %}
            <div class="me_title5_nopadding">품절</div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 사용연령
        </div>
        <div>
            <div class="me_title5_nopadding">8~17세</div>
        </div>
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 관련 강좌
        </div>
        {% if content.related_content.all.count > 0 %}
        {% for content in content.related_content.all %}
        <li class="me_title5_nopadding">{{ content.title}}</li>
        {% endfor %}
        {% else %}
        <div>
            <div class="me_title5_nopadding">강좌 없이 학습 할 수 있습니다.</div>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 안내
        </div>
        <div>
            <div class="me_title5_nopadding">현재 제품의 구매는 네이버를 통해 구매하실 수 있습니다. 이점 착오 없으시길 바랍니다.</div>
        </div>
    </div>
    <br>
    <!-- Botones de compra -->
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 장바구니
        </div>
        <form action="{% url 'cart:cart_add' content.id %}" method="post">
            {% csrf_token %}
            {{ cart_content_form }}
            <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"
                 aria-hidden="true"></span> 장바구니 넣기
            </button>
        </form>
    </div>
    <br>


    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="{{content.product_set.first.link}}" target="_blank"
               class="btn btn-success btn-block"
               style="margin:5px;"
            ><span class="glyphicon glyphicon-credit-card"
                   aria-hidden="true"></span> 구매하러가기
            </a>
        </div>

        {% if isRegistered == True%}
        <div class="col-md-6 col-xs-12">
            <a href="{% url 'products:content_information_favorite_add' content_slug=content.slug %}"
               class="btn btn-primary btn-block"
               role="button"
               disabled="disabled"
               style="margin:5px;"
            >
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> 관심상품
            </a>
        </div>
        {% else %}
        <div class="col-md-6 col-xs-12">
            <a href="{% url 'products:content_information_favorite_add' content_slug=content.slug %}"
               class="btn btn-primary btn-block"
               role="button"
               style="margin:5px;"
            >
                <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 관심상품
            </a>
        </div>
        {% endif %}

    </div>
    <br>
</div>