{% load humanize %}
<div class="me_title2_nopadding">
    <a href="{%url 'products:product_list' %}">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        교재와 교보재</a> >
    <a href="{{category.get_absolute_url}}"> {{category.title}}</a> >
    <a href="{%url 'products:content_information' content_slug=content.slug %}">{{content.title}}</a>

</div>
<hr>
<div class="col-md-6 col-xs-12 item-photo">
    {% include 'includes/carousel.html' %}
</div>
<div class="col-md-6 col-xs-12">
    <div class="me_title2_nopadding">{{ content.title }}</div>
    <br>
    <div class="me_title4_nopadding" style="color:#337ab7">{{ content.description }}</div>
    <br>
    <div class="me_title4_nopadding">
        <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 가격
    </div>
    <div class="me_title5_nopadding">
        {% if content.isDiscount %}
            <span class="label label-danger">할인</span>
            <span><strike> ￦ {{ content.cost|intcomma }}</strike></span>&nbsp;▶&nbsp;
            <span>￦ {{ content.discount|intcomma }} 원</span>
        {% else %}
            <span>￦ {{ content.cost|intcomma }} 원</span>
        {% endif %}
    </div>
    <div class="section">
        <div class="me_title4_nopadding" style="margin-top:15px;">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 구매가능
        </div>
        <div>
            {% if content.isSale%}
            <div class="me_title5_nopadding">판매중</div>
            {% else %}
            <div class="me_title5_nopadding">품절</div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 사용연령
        </div>
        <div>
            <div class="me_title5_nopadding">8~17세</div>
        </div>
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 관련 강좌
        </div>
        {% if content.related_content.all.count > 0 %}
        {% for content in content.related_content.all %}
        <li class="me_title5_nopadding">{{ content.title}}</li>
        {% endfor %}
        {% else %}
        <div>
            <div class="me_title5_nopadding">강좌 없이 학습 할 수 있습니다.</div>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 안내
        </div>
        <div>
            <div class="me_title5_nopadding">현재 제품의 구매는 네이버를 통해 구매하실 수 있습니다. 이점 착오 없으시길 바랍니다.</div>
        </div>
    </div>
    <br>
    <!-- Botones de compra -->
    <div class="section" style="padding-bottom:5px;">
        <div class="me_title4_nopadding">
            <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span> 장바구니
        </div>
        <form action="{% url 'cart:cart_add' content.id %}" method="post" id="cart_quantity_form">
            {% csrf_token %}
            {{ cart_content_form }}
            <button type="submit" class="btn btn-primary" id="cart_button">
            <span class="glyphicon glyphicon-shopping-cart"
                 aria-hidden="true"></span> 장바구니 넣기
            </button>
        </form>
    </div>
    <br>


    <div class="row">
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-success btn-block"
                    onclick="" style="margin:5px;" id="direct_buy"
            ><span class="glyphicon glyphicon-credit-card"
                   aria-hidden="true"></span> 바로구매
            </button>
        </div>
        {% if isRegistered == True%}
        <div class="col-md-4 col-xs-12">
            <button
                class="btn btn-primary btn-block"
                id="add_favorite"
                role="button"
                style="margin:5px;">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> 관심상품
            </button>
        </div>
        {% else %}
        <div class="col-md-4 col-xs-12">
            <button
                class="btn btn-primary btn-block"
                id="add_favorite"
                role="button"
                style="margin:5px;">
                <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 관심상품
            </button>
        </div>
        {% endif %}
        <div class="col-md-4 col-xs-12">
            <a href="{{content.product_set.first.link}}" target="_blank"
               class="btn btn-success btn-block"
               style="margin:5px;"
            ><span class="glyphicon glyphicon-credit-card"
                   aria-hidden="true"></span> 네이버구매
            </a>
        </div>

    </div>
    <br>
</div>
<div class="modal fade" id="cart_in_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background:#BB8FCE;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title me_title3_nopadding">장바구니 포함</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer" align="center">
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
          </div>
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-primary btn-block" id="cart_insert_button" data-dismiss="modal" onclick="cartInsert();">담기</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="cart_check_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background:#BB8FCE;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title me_title3_nopadding">장바구니 이동</h4>
      </div>
      <div class="modal-body" align="center">

      </div>
      <div class="modal-footer" align="center">
          <div class="col-md-6 col-xs-6">
            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
          </div>
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-primary btn-block" id="cart_redirect_button" data-dismiss="modal" onclick="cartRedirect();">이동</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="direct_purchase_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background:#BB8FCE;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title me_title3_nopadding">바로구매 확인</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer" align="center">
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
          </div>
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-primary btn-block" id="direct_purchase_button" data-dismiss="modal" onclick="directPurchase();">구매</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="favorite_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background:#BB8FCE;color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title me_title3_nopadding">관심콘텐츠 설정</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer" align="center">
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
          </div>
          <div class="col-md-6 col-xs-6">
              <button type="button" class="btn btn-primary btn-block" id="favorite_button" data-dismiss="modal" onclick="favoriteSetting();">확인</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--<div class="modal fade" id="login_request_modal">-->
  <!--<div class="modal-dialog modal-sm" >-->
    <!--<div class="modal-content" >-->
      <!--<div class="modal-header" style="background:#BB8FCE;color:white;">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title me_title3_nopadding">로그인 요청 및 안내</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->

      <!--</div>-->
      <!--<div class="modal-footer" align="center">-->
          <!--<div class="row">-->
          <!--<div class="col-md-4 col-xs-4">-->
              <!--<button type="button" class="btn btn-default btn-block" data-dismiss="modal"><small>취소</small></button>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-xs-4">-->
              <!--<button type="button" class="btn btn-success btn-block" id="register_request_button" data-dismiss="modal" onclick="registerRequest();"><small>회원가입</small></button>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-xs-4">-->
              <!--<button type="button" class="btn btn-primary btn-block" id="login_request_button" data-dismiss="modal" onclick="loginRequest();"><small>로그인</small></button>-->
          <!--</div>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->


<script type="text/javascript">

    $(function(){
        $('#direct_buy').click(function(){

            quantity=$('#quantity').val();
            result=validator(quantity);
            if (result){
                $('#direct_purchase_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">\'{{content.title}}\'을(를) '+quantity+'개 구매하시겠습니까?</div>');
                $('#direct_purchase_modal').modal({
                    show: 'true'
                });
                //if (confirm()){
                //    window.location.href = "/orders/{{content.pk}}/content/"+quantity+"/create/";
                //}
            }

        });

        $('#add_favorite').click(function(){

            $('#favorite_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">\'{{content.title}}\'을(를) 관심 콘텐츠 설정을 변경하시겠습니까?</div>');
            $('#favorite_modal').modal({
                show: 'true'
            });

        });
    });

    function favoriteSetting(){
        //alert('아직 없습니다.');
        $.ajax({
            url: "{% url 'products:content_information_favorite' content_slug=content.slug %}" , // 가맹점 서버
            method: 'POST',
            data: {'content_slug':'{{content.slug}}', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response){ // 통신 성공시
                if (response.status == 'add'){
                    content='<span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> 관심상품'
                    $('#add_favorite').html(content);
                }else if (response.status == 'remove'){
                    content='<span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 관심상품'
                    $('#add_favorite').html(content);
                }else{
                    alert(response.msg);
                }

            },
            error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                window.location.replace("/accounts/login/?next="+$(window.location).attr('href'));
                //$('#login_request_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">해당 서비스는 로그인이 필요합니다. 로그인(또는 회원가입)을 진행해주세요.</div>');
                //$('#login_request_modal').modal({
                //    show: 'true'
                //});
            },
        }).done(function (data) {
            //동적 결과물 제시 페이지 request 없음

        });
    }

    //function loginRequest(){
    //    window.location.href = "{% url 'accounts:login'%}";
    //}
    //function registerRequest(){
    //    window.location.href = "{% url 'accounts:register'%}";
    //}
    function directPurchase(){
        window.location.href = "/orders/{{content.pk}}/content/"+quantity+"/create/";
    }



    $(document).on('submit', '#cart_quantity_form', function(e){
        e.preventDefault();
        var form_data = $(this).serialize();
        var data = $(this).serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});


        result=validator_form(data);
        if (result) {
            $('#cart_in_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">주문하신 상품 \'{{content.title}}\'을(를) '+data['quantity']+'개 카트에 담으시겠습니까?</div>');
            $('#cart_in_modal').modal({
                show:'true'
            });
            //if (confirm('장바구니에 담으시겠습니까?')){
            //}

        }

    });

    function cartCheckShow(){
        $('#cart_check_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">장바구니로 이동하여 확인하시겠습니까?</div>');
        $('#cart_check_modal').modal({
            show: 'true'
        })
    }

    function cartInsert(){
        <!--//get form action url-->
        var post_url = $('#cart_quantity_form').attr("action");
        <!--//get form GET/POST method-->
        var request_method = $('#cart_quantity_form').attr("method");
        <!--//Encode form elements for submission-->
        var form_data = $('#cart_quantity_form').serialize();
        <!--alert('form_data : '+form_data);-->
        jQuery.ajax({
            url: post_url , // 가맹점 서버
            method: request_method,
            data: form_data,
            dataType:'json',
            success: function(response){ // 통신 성공시
                html_content ="<span class='glyphicon glyphicon-shopping-cart'></span> 장바구니("
                +response.quantity+")";
                $('#cart_count').html(html_content);

                //if (confirm('장바구니로 바로가시겠습니까?')){
                //    window.location.href = "{% url 'cart:cart_detail'%}";
                //}

                // 모달팝업으로 이동 여부 확인
                cartCheckShow();


            },
            error: function(request, status, error){ // 통신 실패시
                alert("장바구니에 물건을 추가하는 중에 발생했습니다.")
            },
            }).done(function (data) {

        });

    }

    function cartRedirect(){
        window.location.href = "{% url 'cart:cart_detail'%}";
    }


    function validator_form(data){
        result = false;
        if(($.isNumeric(data['quantity']))){
            result =true;
            $('.errorlist').detach();
        }else{
            $('#cart_button').after("<ul class='errorlist'><li style='color:red;'>숫자만 가능합니다.</li></ul>");
        }

        return result
    }


    function validator(data){
        result = false;
        if(($.isNumeric(data))){
            result =true;
            $('.errorlist').detach();
        }else{
            $('#cart_button').after("<ul class='errorlist'><li style='color:red;'>숫자만 가능합니다.</li></ul>");
        }

        return result
    }

</script>