{% load staticfiles %}
{% load humanize %}
<div class="container">
    <div class="panel panel-success">
        <table class="table table-striped cart" id="cart_table">
            <thead class="thead-inverse">
            <tr>
                <th class="col-md-1 col-xs-2">사진</th>
                <th class="col-md-3">제품</th>
                <th class="col-md-2">수량</th>
                <th class="col-md-3">단가</th>
                <th class="col-md-3">금액</th>
            </tr>
            </thead>
            <tbody>
            {% if cart.isExist > 0 %}
            {% for item in cart %}
            {% with content=item.content %}
            <tr>
                <td>
                    <a href="{{ content.get_absolute_url }}">
                        <img src="{% if content.image %}{{ content.image.first.thumbnail.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                             style="max-width: 100%;height: auto;">
                    </a>
                </td>
                <td><a href="{{ content.get_absolute_url }}">{{ content.title }}</a></td>
                <td>
                    {{ item.quantity }}
                </td>
                <td class="cost item">￦{{ item.cost|intcomma }}원</td>
                <td class="cost total">￦{{ item.total_cost|intcomma }}원</td>
            </tr>

            {% endwith %}
            {% endfor %}
            <tr class="total">
                <td></td>
                <td></td>
                <td></td>
                <td>총액(배송비)</td>
                <td class="sum total">￦{{ cart.get_total_cost|intcomma }}원</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">
                    <div class="me_title4_nopadding" align="center">
                        결제할 항목이 없습니다.
                    </div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">

    <form action="{% url 'orders:order_initial_processing'%}" method="post" class="order-form" id="order-form">
        {% csrf_token %}
        <!--#다음 우편번호 소스 코드는 -->
        <!--#postcode, address, extraAddress, detailAddress의 -->
        <!--#모든 정보가 갖춰져야 정상적으로 작동한다.-->
        {% for field in form %}
            {% if forloop.first %}
            <div class="col-md-6">
            <div class="me_title2_nopadding">결제 정보</div>
            {% endif %}

            {% if forloop.counter <= 3 %}
            <div class="col-md-12">
                <br>{{ field.label_tag }}
                <br>{{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                <br>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
                {% if forloop.counter == 3 %}
                </div>
                <div class="col-md-6">
                        <div class="me_title2_nopadding">주문자 정보</div>
                {% endif %}
            {% else %}

            {% if field.label == '우편번호' %}
            <div class="col-md-12">
                <br>{{ field.label_tag }}
                <input type="button" class="btn btn-success" onclick="execDaumPostcode()" value="우편번호 찾기"/>
                <br>
                <br>{{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                <br>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% elif field.label == '참조주소' %}
            <div class="col-md-12">
                <br>{{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                <br>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            <div class="col-md-12">
                <br>{{ field.label_tag }}
                <br>{{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                <br>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
                    {% if forloop.last %}
                </div>
                    {% endif%}
            {% endif %}
            {% endfor %}
        </div>
        <br>
        <div class="col-md-offset-6">
            <input type="submit" class="btn btn-primary pull-right" value="주문하기" id="form-submit"/>
        </div>

    </form>


</div>