<div class="me_title2">
    <a href="{%url 'boards:index'%}">
        <span class="glyphicon glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        공유게시판</a> >
    <a href="{%url 'boards:board_topic' pk=board.pk%}">{{board.name}}</a> >
    <a href="{{topic.get_absolute_url}}">{{topic.title|truncatechars:20}}</a>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row" style="vertical-align:middle;" >
            <table  style="width:100%" class="board-content-title-table">
                <tr>
                    <td rowspan="2" width="80" style="text-align:left;padding:0px 10px 0px 10px;"><img class="img-rounded profile" src="{{topic.user.userprofile.thumbnail.url}}"></td>
                    <td colspan="2" style="text-align:left;padding:0px 5px 0px 5px;">{{topic}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;padding:0px 10px 0px 5px;">
                        <strong>{{topic.user}}</strong>&nbsp;
                    </td>
                    <td style="text-align:right;padding:0px 10px 0px 0px;">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="vertical-align:middle;"></span>
                        <small>{{topic.views}}&nbsp;&nbsp;</small>
                        {% if topic.updated_at|date:'d m y h:i:s' == topic.created_at|date:'d m y h:i:s' %}
                        <span style="vertical-align:middle;" class="glyphicon glyphicon-time" aria-hidden="true" ></span>
                        <small >{{topic.created_at|date:'y-m-d H:i'}}</small>
                        {% else %}
                        <span style="vertical-align:middle;" class="glyphicon glyphicon-time" aria-hidden="true" ></span>
                        <small style="color:red;">{{topic.updated_at|date:'y-m-d H:i'}}</small>
                        {% endif %}
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12 col-xs-12">
            <div class="message row">
                <p>{{topic.message|safe}}</p>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            {% if request.user == topic.user%}
            <div class="col-md-offset-6 col-md-2 col-md-2 col-xs-4">
                <a href="{% url 'boards:remove_content' pk=topic.board.id topic_pk=topic.id %}"
                   class="btn btn-success btn-block">삭제</a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="{% url 'boards:edit_content' pk=topic.board.id topic_pk=topic.id %}"
                   class="btn btn-success btn-block">수 정</a>
            </div>
            <div class="col-md-2 col-xs-4">
                <a href="{% url 'boards:add_reply' pk=topic.board.id topic_pk=topic.id %}#{{topic.post.count|default:0}}"
                   class="btn btn-success btn-block">댓 글</a>
            </div>
            {% else %}
            <div class="col-md-offset-10 col-md-2 col-xs-12">
                <a href="{% url 'boards:add_reply' pk=topic.board.id topic_pk=topic.id %}#{{topic.post.count|default:0}}"
                   class="btn btn-success btn-block">댓 글</a>
            </div>
            {% endif%}
        </div>
    </div>

</div>