{% if post_list.has_other_pages %}
<div class="container" align="center">
    <nav aria-label="Post pagination" class="mb-4">
        <ul class="pagination pagination-sm">
            {% if post_list.number > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1"> << </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link"> << </span>
            </li>
            {% endif %}

            {% if has_previous_index %}
            <li class="page-item">
                <a class="page-link" href="?page={{ previous_index }}"> < </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link"> < </span>
            </li>
            {% endif %}

            {% for page in page_range %}
            {% if page == post_list.number %}
            <li class="active">
            {% else%}
            <li>
            {% endif %}
            <a href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if has_next_index %}
            <li class="page-item">
                <a class="page-link" href="?page={{ next_index }}"> > </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link"> > </span>
            </li>
            {% endif %}

            {% if post_list.number != post_list.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.paginator.num_pages }}"> >> </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link"> >> </span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endif %}