{% extends selected_base_page %}

{% block content %}
{% load staticfiles%}
<div class="container">
    <div class="row-container">
        {% if content.category.section == '상품' %}
        {% include 'includes/product_information_include.html'%}
        {% elif content.category.section == '강좌' %}
        {% include 'includes/lecture_information_include.html'%}
        {% endif %}
    </div>

    <div class="row">
        {% include 'includes/tab_content_info.html' %}
    </div>
    <div class="row">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="intro">
                <div class="container col-md-12" style="margin-top:50px;">
                    {% if content.category.section == "강좌"%}
                    {% include 'includes/video_scroll.html'%}
                    {% endif %}
                    {% if content.sample %}
                    <div class="me_title3_nopadding"><span class="glyphicon glyphicon-facetime-video"
                                                           aria-hidden="true"></span>
                        {% if content.category.section == "상품" %}
                        작동 영상
                        <hr>
                        {% elif content.category.section == "강좌"%}
                        맛보기 영상
                        <hr>
                        {% endif %}

                    </div>
                    <div class="row featurette" style="margin-top:10px;">
                        <div class="col-md-push-3 col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{content.sample}}"></iframe>
                            </div>
                        </div>
                    </div>
                    <br>
                    {%endif%}
                    {% if content.file.count > 0%}
                    {% include 'includes/file_section.html'%}
                    {% endif %}


                    <div class="me_title2_nopadding">
                        <div class="me_title3_nopadding"><span class="glyphicon glyphicon-asterisk"
                                                               aria-hidden="true"></span>
                            {% if content.category.section == "상품" %}
                            제품 소개
                            <hr>
                            {% elif content.category.section == "강좌"%}
                            강의 소개
                            <hr>
                            {% endif %}
                        </div>

                    </div>
                    <div class="container-fluid">
                        {% if content.category.section == "상품" %}
                        <p>{{content.product_set.first.introduce|safe}}</p>
                        {% elif content.category.section == "강좌"%}
                        <p>{{content.lecture_set.first.introduce|safe}}</p>
                        {% endif %}
                    </div>
                    <br>
                </div>
                <div class="container-fluid">
                    {% include 'includes/related_content.html'%}
                </div>



                <div class="modal fade" id="cart_in_modal">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header" style="background:#BB8FCE;color:white;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title me_title3_nopadding">장바구니 포함</h4>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer" align="center">
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-primary btn-block" id="cart_insert_button" data-dismiss="modal" onclick="cartInsert();">담기</button>
                          </div>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" id="cart_check_modal">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header" style="background:#BB8FCE;color:white;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title me_title3_nopadding">장바구니 이동</h4>
                      </div>
                      <div class="modal-body" align="center">

                      </div>
                      <div class="modal-footer" align="center">
                          <div class="col-md-6 col-xs-6">
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-primary btn-block" id="cart_redirect_button" data-dismiss="modal" onclick="cartRedirect();">이동</button>
                          </div>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" id="direct_purchase_modal">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header" style="background:#BB8FCE;color:white;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title me_title3_nopadding">바로구매 확인</h4>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer" align="center">
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-primary btn-block" id="direct_purchase_button" data-dismiss="modal" onclick="directPurchase();">구매</button>
                          </div>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" id="favorite_modal">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header" style="background:#BB8FCE;color:white;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title me_title3_nopadding">관심콘텐츠 설정</h4>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer" align="center">
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">취소</button>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <button type="button" class="btn btn-primary btn-block" id="favorite_button" data-dismiss="modal" onclick="favoriteSetting();">확인</button>
                          </div>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!--<div class="modal fade" id="login_request_modal">-->
                  <!--<div class="modal-dialog modal-sm" >-->
                    <!--<div class="modal-content" >-->
                      <!--<div class="modal-header" style="background:#BB8FCE;color:white;">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <!--<h4 class="modal-title me_title3_nopadding">로그인 요청 및 안내</h4>-->
                      <!--</div>-->
                      <!--<div class="modal-body">-->

                      <!--</div>-->
                      <!--<div class="modal-footer" align="center">-->
                          <!--<div class="row">-->
                          <!--<div class="col-md-4 col-xs-4">-->
                              <!--<button type="button" class="btn btn-default btn-block" data-dismiss="modal"><small>취소</small></button>-->
                          <!--</div>-->
                          <!--<div class="col-md-4 col-xs-4">-->
                              <!--<button type="button" class="btn btn-success btn-block" id="register_request_button" data-dismiss="modal" onclick="registerRequest();"><small>회원가입</small></button>-->
                          <!--</div>-->
                          <!--<div class="col-md-4 col-xs-4">-->
                              <!--<button type="button" class="btn btn-primary btn-block" id="login_request_button" data-dismiss="modal" onclick="loginRequest();"><small>로그인</small></button>-->
                          <!--</div>-->
                          <!--</div>-->
                      <!--</div>-->
                    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function(){
        $('#direct_buy').click(function(){

            quantity=$('#quantity').val();
            result=validator(quantity);
            if (result){
                $('#direct_purchase_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">\'{{content.title}}\'을(를) '+quantity+'개 구매하시겠습니까?</div>');
                $('#direct_purchase_modal').modal({
                    show: 'true'
                });
                //if (confirm()){
                //    window.location.href = "/orders/{{content.pk}}/content/"+quantity+"/create/";
                //}
            }

        });

        $('#add_favorite').click(function(){

            $('#favorite_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">\'{{content.title}}\'을(를) 관심 콘텐츠 설정을 변경하시겠습니까?</div>');
            $('#favorite_modal').modal({
                show: 'true'
            });

        });
    });

    function favoriteSetting(){
        //alert('아직 없습니다.');
        $.ajax({
            url: "{% url 'products:content_information_favorite' content_slug=content.slug %}" , // 가맹점 서버
            method: 'POST',
            data: {'content_slug':'{{content.slug}}', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            success: function(response){ // 통신 성공시
                if (response.status == 'add'){
                    content='<span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> 관심상품'
                    $('#add_favorite').html(content);
                }else if (response.status == 'remove'){
                    content='<span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 관심상품'
                    $('#add_favorite').html(content);
                }else{
                    alert(response.msg);
                }

            },
            error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                window.location.replace("/accounts/login/?next="+$(window.location).attr('href'));
                //$('#login_request_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">해당 서비스는 로그인이 필요합니다. 로그인(또는 회원가입)을 진행해주세요.</div>');
                //$('#login_request_modal').modal({
                //    show: 'true'
                //});
            },
        }).done(function (data) {
            //동적 결과물 제시 페이지 request 없음

        });
    }

    //function loginRequest(){
    //    window.location.href = "{% url 'accounts:login'%}";
    //}
    //function registerRequest(){
    //    window.location.href = "{% url 'accounts:register'%}";
    //}
    function directPurchase(){
        window.location.href = "/orders/{{content.pk}}/content/"+quantity+"/create/";
    }



    $(document).on('submit', '#cart_quantity_form', function(e){
        e.preventDefault();
        var form_data = $(this).serialize();
        var data = $(this).serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});


        result=validator_form(data);
        if (result) {
            $('#cart_in_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">주문하신 상품 \'{{content.title}}\'을(를) '+data['quantity']+'개 카트에 담으시겠습니까?</div>');
            $('#cart_in_modal').modal({
                show:'true'
            });
            //if (confirm('장바구니에 담으시겠습니까?')){
            //}

        }

    });

    function cartCheckShow(){
        $('#cart_check_modal').children('.modal-dialog').children('.modal-content').children('.modal-body').html('<div class="me_title5_nopadding" align="center">장바구니로 이동하여 확인하시겠습니까?</div>');
        $('#cart_check_modal').modal({
            show: 'true'
        })
    }

    function cartInsert(){
        <!--//get form action url-->
        var post_url = $('#cart_quantity_form').attr("action");
        <!--//get form GET/POST method-->
        var request_method = $('#cart_quantity_form').attr("method");
        <!--//Encode form elements for submission-->
        var form_data = $('#cart_quantity_form').serialize();
        <!--alert('form_data : '+form_data);-->
        jQuery.ajax({
            url: post_url , // 가맹점 서버
            method: request_method,
            data: form_data,
            dataType:'json',
            success: function(response){ // 통신 성공시
                html_content ="<span class='glyphicon glyphicon-shopping-cart'></span> 장바구니("
                +response.quantity+")";
                $('#cart_count').html(html_content);

                //if (confirm('장바구니로 바로가시겠습니까?')){
                //    window.location.href = "{% url 'cart:cart_detail'%}";
                //}

                // 모달팝업으로 이동 여부 확인
                cartCheckShow();

                
            },
            error: function(request, status, error){ // 통신 실패시
                alert("장바구니에 물건을 추가하는 중에 발생했습니다.")
            },
            }).done(function (data) {

        });

    }

    function cartRedirect(){
        window.location.href = "{% url 'cart:cart_detail'%}";
    }


    function validator_form(data){
        result = false;
        if(($.isNumeric(data['quantity']))){
            result =true;
            $('.errorlist').detach();
        }else{
            $('#cart_button').after("<ul class='errorlist'><li style='color:red;'>숫자만 가능합니다.</li></ul>");
        }

        return result
    }


    function validator(data){
        result = false;
        if(($.isNumeric(data))){
            result =true;
            $('.errorlist').detach();
        }else{
            $('#cart_button').after("<ul class='errorlist'><li style='color:red;'>숫자만 가능합니다.</li></ul>");
        }

        return result
    }

</script>

{% endblock content %}
