
{% extends selected_base_page %}
{% block content %}
{% load staticfiles%}


<div class="container">
    <div class="cotainer-fluid" align="center">
        {% include 'includes/pagenation_class.html'%}
    </div>
    <div class="me_title2_nopadding">
        {% if section == "상품" %}
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 추천 제품

        {% elif section == "강좌" %}
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 추천 강의
        {% endif %}

    </div>
    <div class="row">
        <hr>
        {% if content_list.count > 0%}
        {% for content in content_list %}
        <div class="col-sm-6 col-md-4">
            {% include 'includes/card_content_display.html' %}
        </div>

        {% endfor %}
        {% else %}
        <div class="col-md-12" align="center">
            {% include 'includes/blank_content.html' %}
        </div>
        {%endif%}

    </div>



    <hr>

    <div class="cotainer-fluid" align="center">
        {% include 'includes/pagenation_class.html'%}
    </div>
</div>

{% endblock content %}

