{% extends "base_products.html" %}

{% block content %}

{% load staticfiles%}

<div class="container">
    <div class="cotainer-fluid" align="center">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="me_title2_nopadding" >
        <a href="{%url 'products:index' %}">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
        교재와 교보재</a> >
        {% if category.title == "코딩보드"%}
        <a href="{%url 'products:board_list'%}">{{category}}</a>
        {% elif category.title == "조립키트" %}
        <a href="{%url 'products:kit_list'%}">{{category}}</a>
        {% elif category.title == "교재" %}
        <a href="{%url 'products:book_list'%}">{{category}}</a>
        {% endif %}
        <!--추천 제품-->
    </div>
    <div class="row">
        <hr>
        <h2>{{product_list.title}}</h2>
        {% if product_list %}
        {% for product in product_list %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{product.thumbnail.url}}" alt="...">
                <div class="caption">
                    <h4>{{ product.title|truncatechars:23 }}</h4>
                    <p>{{ product.description|truncatechars:55 }}</p>
                    <p align="center">
                        <a href="{% url 'products:product_detail' product.id%}" class="btn btn-primary"
                           role="button">구경하기</a>
                        <a href="#" class="btn btn-default" role="button">구매하기</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12" align="center">
            <div class="well well-lg" align="center"
                 style="max-width:600px;height:100px;text-align:center;margin-left:-8px;">
                제품 준비중입니다.<br>
                항상 더 나은 교육 콘텐츠품 및 교보재로 찾아가는 미메이커가 되겠습니다.<br>
                감사합니다.
            </div>
        </div>
        {%endif%}

    </div>

    <hr>

    <div class="cotainer-fluid" align="center">
        {% if is_paginated %}
        <ul class="pagination pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

</div>


{% endblock content %}